project/boot
target
.ensime
.ensime_lucene
.ensime_cache
.ensime_snapshot
ensime.sbt
TAGS
\#*#
*~
.#*
.lib
.history
.*.swp
.idea
.idea/*
.bsp
.idea_modules
.DS_Store
.sbtrc
*.sublime-project
*.sublime-workspace
tests.iml
.metals
.bloop
project/metals.sbt
*.iml